.noData {
  color: #717680;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  margin-top: 20px;
}

.noData svg {
  width: 50px;
}

.noData p {
  font-weight: bold;
}
